<h1>ペルソナ詳細画面</h1>
<div>  
  <div>
    <h3>ペルソナ名</h3>
    <%= @persona.name %>
  </div>
  <div>
    <%= image_tag "#{@persona.img_path}" %>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>スキル</th>
      <th>習得レベル</th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill[:name] %></td>
        <td><%= skill[:level].zero? ? '初期' : skill[:level] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
